h1 {
    color: blue;
    font-family: Gill Sans MT;
    font-size: xx-large;
    font-weight: bolder;
   

}

h2 {
    color: teal;
    font-family: fantasy;
}
p {
    color: burlywood;
    font-size: medium;
    font-family: fantasy;
    font-weight: unset;

}