

h2 {
    color: teal;
    font-family: fantasy;
}

a {
    color: brown;
    font-family: fantasy;
}

body {
    background-color: azure;
    text-align: center;
    font-family: Aerial;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: brown;
    color: darkblue;
    font-size: 8em;
    padding: 50px;
}

img {
    height: 250px;
}

p {
    background-color: bisque;
    color: blue;
    padding: 50px;
    font-size: 2em;
}
